<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <title>Charts Side | FERVI</title>
</head>

<body>
    <div id="pie-chart"></div>
    <div id="column-chart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static',filename='js/charts_side.js') }}"></script>
</body>

</html>